ol{
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0em;
}

ol dt{
  position: relative;
  line-height: 1.5em;
  padding: 0em 0em 0em 23px;
}

ol dt:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #777777;
  color: white;
  font-family: Arial;
  font-weight:bold;
  font-size: 18px;
  left: 0em;
  width: 23px;
  height: 20px;
  line-height: 21px;
  text-align:center;
  /*以下上下中央寄せのため*/
  top: 14px;
  -moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.itemlist {
max-width: 630px;
margin: 0 auto;
letter-spacing: 0em;
}
.itemlist li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist li:nth-child(3n+1) {
clear: left;
}
.itemlist dl, 
.itemlist dd { margin: ; }
.itemlist dl { text-align: right; }
.itemlist dt, 
.itemlist .txt { padding-left: 26px; text-align: left; font-size: .8em; font-weight: 500; }
.itemlist dt { font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: MS_ゴシックP; }

.itembox {
    background: #FFF;
    padding: 10px;
    overflow: hidden;
}
.item_image {
    float: right;
    margin-right: 10px;
}
.item__summary {
    overflow: hidden;
}
