.itemlist {
max-width: 630px;
margin: 0 auto;
letter-spacing: -.5em;
}
.itemlist li {
display: inline-block;
width: 200px;
padding: 10px;
letter-spacing: 0;
vertical-align: top;
background-color: #000000;
}
.itemlist li:nth-child(3n+1) {
clear: left;
}
.itemlist dl, 
.itemlist dd { margin: 0; }
.itemlist dl { text-align: right; }
.itemlist dt, 
.itemlist .txt { text-align: left; font-size: .8em; font-weight: 500; }
.itemlist dt { font-size: .9em; font-weight: 700; }
.itemlist .price { display: inline-block; padding: .3em; background: #eee; font-size: .8em;  font-weight: 500; }
