ol{
  counter-reset: number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin:0;
  padding:0;
}

ol dt{
  position: relative;
  line-height: 1.5em;
  padding: 0em 0em 0em 23px;
}

ol dt:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #777777;
  color: white;
  font-family: Arial;
  font-weight:bold;
  font-size: 18px;
  left: 0em;
  width: 23px;
  height: 20px;
  line-height: 21px;
  text-align:center;
  /*以下上下中央寄せのため*/
  top: 15px;
  -moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.itemlist {
max-width: 630px;
margin: 0 auto;
margin-top: 5px;
letter-spacing: 0em;
}
.itemlist li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist li:nth-child(3n+1) {
clear: left;
}
.itemlist dl, 
.itemlist dd { margin: ; }
.itemlist dl { text-align: right; }
.itemlist dt, 
.itemlist .txt { padding-left: 7px; text-align: left; font-size: 11px; font-weight: 500; }
.itemlist dt { padding-left: 27px; font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: 'MS_ゴシックP'; }

.itembox {
    background: #FFF;
    padding: 10px;
    overflow: hidden;
}
.item_image {
    float: right;
    margin-right: 10px;
}
dl.item__summary {
    overflow: hidden;
}


ol.itemlist2{
  counter-reset: number 20; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin:0;
  padding:0;
}

.itemlist2 {
max-width: 630px;
margin: 0 auto;
margin-top: 5px;
letter-spacing: 0em;
}
.itemlist2 li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist2 li:nth-child(3n+1) {
clear: left;
}
.itemlist2 dl, 
.itemlist2 dd { margin: ; }
.itemlist2 dl { text-align: right; }
.itemlist2 dt, 
.itemlist2 .txt { padding-left: 7px; text-align: left; font-size: 11px; font-weight: 500; }
.itemlist2 dt { padding-left: 27px; font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist2 .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: 'MS_ゴシックP'; }


ol.itemlist3{
  counter-reset: number 30; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin:0;
  padding:0;
}

.itemlist3 {
max-width: 630px;
margin: 0 auto;
margin-top: 5px;
letter-spacing: 0em;
}
.itemlist3 li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist3 li:nth-child(3n+1) {
clear: left;
}
.itemlist3 dl, 
.itemlist3 dd { margin: ; }
.itemlist3 dl { text-align: right; }
.itemlist3 dt, 
.itemlist3 .txt { padding-left: 7px; text-align: left; font-size: 11px; font-weight: 500; }
.itemlist3 dt { padding-left: 27px; font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist3 .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: 'MS_ゴシックP'; }


ol.itemlist4{
  counter-reset: number 40; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin:0;
  padding:0;
}

.itemlist4 {
max-width: 630px;
margin: 0 auto;
margin-top: 5px;
letter-spacing: 0em;
}
.itemlist4 li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist4 li:nth-child(3n+1) {
clear: left;
}
.itemlist4 dl, 
.itemlist4 dd { margin: ; }
.itemlist4 dl { text-align: right; }
.itemlist4 dt, 
.itemlist4 .txt { padding-left: 7px; text-align: left; font-size: 11px; font-weight: 500; }
.itemlist4 dt { padding-left: 27px; font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist4 .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: 'MS_ゴシックP'; }


ol.itemlist5{
  counter-reset: number 50; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin:0;
  padding:0;
}

.itemlist5 {
max-width: 630px;
margin: 0 auto;
margin-top: 5px;
letter-spacing: 0em;
}
.itemlist5 li {
display: inline-block;
width: 30%;
padding: 9px;
margin-bottom: 5px;
letter-spacing: 0;
vertical-align: top;
background-color: #ffffff;
}
.itemlist5 li:nth-child(3n+1) {
clear: left;
}
.itemlist5 dl, 
.itemlist5 dd { margin: ; }
.itemlist5 dl { text-align: right; }
.itemlist5 dt, 
.itemlist5 .txt { padding-left: 7px; text-align: left; font-size: 11px; font-weight: 500; }
.itemlist5 dt { padding-left: 27px; font-size: .9em; font-weight: 700; padding-top : 8px; }
.itemlist5 .price { display: inline-block; padding: .1em .5em; background: #eee;
 font-size: .9em;  font-weight: 500; font-face: 'MS_ゴシックP'; }

.order {
　　width: 690px;
  　background: #FFFFFF;
　　overflow: hidden;
　　_zoom: 1;
　　border: 1px solid #00ced1;
　　padding: 15px;
}
.order .img {
　　padding-right: 15px;
　　float: left;
}
.order .txt {
　　overflow: hidden;
　　_zoom: 1;
}

ul{
  background: #fcfcfc;/*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  border: solid 2px gray;/*線の種類 太さ 色*/
}
